.item{
  text-align: center;
  margin:  auto;
  margin-top: 10px;
  width: 70%;
  height: 400px;
  background: #fff;
  border-radius: 8px;
}
.item img{
  margin: 10px 0 0 0;
  height: 300px;
}
.list{
  margin: 20px 0 20px 0;
}
.goodsInfo{
  font-size: 20px;
  line-height: 90px;
}
.el-pagination {
  margin: 0 auto;
  width: 70%;
}