.search{
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0 auto;
  width: 80%;
  margin-left: 20%;
}
.search .el-input{
  width: 180px;
  margin: 0px 20px 0 0;
}
.search .el-switch{
  margin:  0 40px 0 0;
}
.tel{
  color: red;
}
.deleteLease{
  margin: 20px 0 0 0;
  flex: 1.5;
}