.beSeller{
  margin-top: 30px;
  margin-bottom: 30px;
  /* text-align: center; */
  font-size: 16px;
  font-weight: bold;
  color: #409EFF;

}
.order{
  margin: 30px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  color: #409EFF;

}
.el-table{
  margin-top: 20px;
}
.myJoin{
  margin: 30px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  color: #409EFF;

}